h2#front-page-name {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-size: 2.6em;
  margin-bottom: 5px;
  .first-name {
    color: hsl(0, 0%, 27%);
  }
  .last-name {
    color: hsl(0, 0%, 74%);
    font-weight: bold;
  }
}

a#top-nav-name {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-size: 1.3em;
  .first-name {
    color: hsl(0, 0%, 27%);
  }
  .last-name {
    color: hsl(0, 0%, 100%);
    font-weight: bold;
  }
}

a#side-nav-name {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-size: 1.3em;
  .first-name {
    color: hsl(0, 0%, 74%);
  }
  .last-name {
    color: hsl(0, 0%, 27%);
    font-weight: bold;
  }
}

ul.side-nav li a:hover{
  color: hsl(0, 0%, 65%);
}

ul.vcard {
  margin: 20px;
}

ul.social li {
  text-align: center;
  a {
    color: hsl(0, 0%, 100%);
    padding: 8px 26px;
    border-radius: 2px;
  }
  a.github-main-page {
    background-color: hsl(202, 62%, 41%);
  }
  a.blog-main-page {
    background-color: hsl(153, 36%, 46%);
  }
  a.twitter-main-page {
    background-color: hsl(349, 67%, 57%);
  }
  a.linkedin-main-page {
    background-color: hsl(20, 85%, 58%);
  }
  a.facebook-main-page {
    background-color: hsl(259, 95%, 59%);
  }
}

div.social-button-spacer {
  height: 10px;
}

// Global Foundation Settings
@import "settings";

// Comment out this import if you don't want to use normalize
@import "normalize";

// Comment out this import if you are customizing you imports below
@import "foundation";

// Import specific parts of Foundation by commenting the import "foundation"
// and uncommenting what you want below. You must uncomment the following if customizing

//@import "foundation/components/global"; // *always required
// @import "foundation/components/grid";
// @import "foundation/components/visibility";
// @import "foundation/components/block-grid";
// @import "foundation/components/type";
// @import "foundation/components/buttons";
// @import "foundation/components/forms"; // *requires components/buttons
// @import "foundation/components/custom-forms"; // *requires components/buttons, components/forms
// @import "foundation/components/button-groups"; // *requires components/buttons
// @import "foundation/components/dropdown-buttons"; // *requires components/buttons
// @import "foundation/components/split-buttons"; // *requires components/buttons
// @import "foundation/components/flex-video";
// @import "foundation/components/section";
// @import "foundation/components/top-bar";  // *requires components/grid
// @import "foundation/components/orbit";
// @import "foundation/components/reveal";
// @import "foundation/components/joyride";
// @import "foundation/components/clearing";
// @import "foundation/components/alert-boxes";
// @import "foundation/components/breadcrumbs";
// @import "foundation/components/keystrokes";
// @import "foundation/components/labels";
// @import "foundation/components/inline-lists";
// @import "foundation/components/pagination";
// @import "foundation/components/panels";
// @import "foundation/components/pricing-tables";
// @import "foundation/components/progress-bars";
// @import "foundation/components/side-nav";
// @import "foundation/components/sub-nav";
// @import "foundation/components/switch";
// @import "foundation/components/magellan";
// @import "foundation/components/tables";
// @import "foundation/components/thumbs";
// @import "foundation/components/tooltips";
// @import "foundation/components/dropdown";

