h2#front-page-name {
  font-family: 'Open Sans', sans-serif;
  font-size: 2.6em;
  margin-bottom: 5px;
  .first-name {
    font-weight: 300;
    color: hsl(0, 0%, 27%);
  }
  .last-name {
    color: hsl(0, 0%, 74%);
    font-weight: 600;
  }
}

h3.subheader {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

ul.side-nav li {
  a {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3em; 
    &:hover {
      color: hsl(0, 0%, 65%);
    }
  }

  a#side-nav-name {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.65em;
    .first-name {
      font-weight: 300;
      color: hsl(0, 0%, 27%);
    }
    .last-name {
      font-weight: 600;
      color: hsl(0, 0%, 74%);
    }
  }
}

nav.top-bar {
  margin-bottom: 10px;
  a#top-nav-name {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.45em;
    white-space: nowrap;
    .first-name {
      font-weight: 300;
      color: hsl(0, 0%, 27%);
    }
    .last-name {
      font-weight: 600;
      color: hsl(0, 0%, 77%);
    }
  }

  ul.left li a {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 0.9em;
  }
}

ul.vcard {
  margin: 20px;
}

ul.social {
  margin: 20px 0;
  li {
    $blue: hsl(202, 62%, 41%);
    $green: hsl(153, 36%, 46%);
    $red: hsl(349, 67%, 57%);
    $orange: hsl(20, 85%, 58%);
    $purple: hsl(259, 95%, 59%);
    a {
      box-shadow: none;
      border: 3px solid hsl(0, 0%, 13%);
      font-family: 'Ubuntu', sans-serif;
      font-weight: 400;
      white-space: nowrap;
      margin-bottom: 0;
    }
    a.github-main-page {
      background-color: $blue;
      &:hover {
        background-color: darken($blue, 7%);
      }
    }
    a.blog-main-page {
      background-color: $green;
      &:hover {
        background-color: darken($green, 7%);
      }
    }
    a.twitter-main-page {
      background-color: $red;
      &:hover {
        background-color: darken($red, 7%);
      }
    }
    a.linkedin-main-page {
      background-color: $orange;
      &:hover {
        background-color: darken($orange, 7%);
      }
    }
    a.facebook-main-page {
      background-color: $purple;
      &:hover {
        background-color: darken($purple, 7%);
      }
    }
  }
}

h4.slider-header {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

div.orbit-slide-number {
  display: none;
}
