$blue: hsl(202, 62%, 41%);
$green: hsl(153, 36%, 46%);
$red: hsl(349, 67%, 57%);
$orange: hsl(20, 85%, 58%);
$purple: hsl(259, 95%, 59%);

h2#front-page-name {
  font-family: 'Open Sans', sans-serif;
  font-size: 2.6em;
  margin-bottom: 0;
  .first-name {
    font-weight: 300;
    color: hsl(0, 0%, 27%);
  }
  .last-name {
    color: hsl(0, 0%, 74%);
    font-weight: 600;
  }
}

h3.tagline {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 1.55em;
  margin-top: 0;
}

div.tagline-small-container {
  position: relative;
  bottom: 10px;
  h3.tagline-small {
    margin: 0;
  }
}

ul.side-nav-home {
  margin-top: 42px;
}
nav.side-nav li {
  a {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3em; 
    &:hover {
      color: hsl(0, 0%, 65%);
    }
  }

  a#side-nav-name {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.65em;
    .first-name {
      font-weight: 300;
      color: hsl(0, 0%, 27%);
    }
    .last-name {
      font-weight: 600;
      color: hsl(0, 0%, 74%);
    }
  }
}

nav.top-bar {
  margin-bottom: 10px;
  a#top-nav-name {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.45em;
    white-space: nowrap;
    .first-name {
      font-weight: 300;
      color: hsl(0, 0%, 27%);
    }
    .last-name {
      font-weight: 600;
      color: hsl(0, 0%, 77%);
    }
  }

  ul.left li a {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 0.9em;
  }
}

ul.vcard {
  margin: 20px;
}

ul.social {
  margin: 50px 0;
  li {
    a {
      box-shadow: none;
      border: 3px solid hsl(0, 0%, 13%);
      font-family: 'Ubuntu', sans-serif;
      font-weight: 400;
      white-space: nowrap;
      margin-bottom: 0;
    }
    a.facebook-main-page {
      background-color: $blue;
      &:hover {
        background-color: darken($blue, 7%);
      }
    }
    a.github-main-page {
      background-color: $green;
      &:hover {
        background-color: darken($green, 7%);
      }
    }
    a.twitter-main-page {
      background-color: $red;
      &:hover {
        background-color: darken($red, 7%);
      }
    }
    a.linkedin-main-page {
      background-color: $orange;
      &:hover {
        background-color: darken($orange, 7%);
      }
    }
  }
}

h4.slider-header {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

div.orbit-slide-number {
  display: none;
}

ul.top-nav-menu {
  margin: 10px 0;
  li {
    vertical-align: middle;
    font-size: 1.1em;
    a {
      background-color: hsl(0, 0%, 13%);
      padding: 25px 0;
      margin: 0 1px;
      text-align: center;
      box-shadow: none;
      border: 3px solid hsl(0, 0%, 20%);
      white-space: nowrap;
    }
  }
}

footer {
  h4{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    // font-size: 1.1em;
    &.footer-email {
      text-align: right;
      span.email-footer-part {
        font-weight: 400;
      }
    }
  }
}

section#about-me {
  header {
    h3 {
      color: $orange;
      font-family: 'Open Sans', sans-serif;
      font-weight: 300;
    }
  }
  #self-portrait {
    margin: 20px;
  }
  h4 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
  }
  #first-subheader {
    color: $green;
  }
  #second-subheader {
    color: $blue;
  }
  #third-subheader {
    color: $red;
  }
  #fourth-subheader {
    color: $purple;
  }
  blockquote {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
  }
}

@mixin port-link {
  a.port-blue {
    color: $blue;
  }
  a.port-green {
    color: $green;
  }
  a.port-orange {
    color: $orange;
  }
  a.port-red {
    color: $red;
  }
  a.port-purple {
    color: $purple;
  }
}

input.port-filter-btn {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
}
div#portfolio-container {
  h5 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
  }
  h6 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
  }
  div.portfolio-item {
    @include port-link;
    margin: 5px;
    background-color: black;
  }
  div.small-item {
    font-size: 90%;
    width: 167px;
    height: 167px;
  }
  div.medium-item {
    font-size: 90%;
    width: 345px;
    height: 170px;
  }
  div.large-item {
    width: 345px;
    height: 345px;
  }
}

