<ul class="vcard">
  <li class="fn">Mike Raimondi</li>
  <li class="street-address">337 Summer St</li>
  <li class="locality">Boston</li>
  <li><span class="state">MA</span>, <span class="zip">02210</span></li>
  <li class="email"><a href="mailto:mike@mikeraimondi.com">mike@mikeraimondi.com</a></li>
</ul>
