<div class="row">
  <div class="large-12 columns">
    <h2 class="hide-for-small" id="front-page-name"><span class="first-name">mike</span> <span class="last-name">raimondi</span></h2>
    <h3 class="subheader">full-stack web developer</h3>
    <hr />
  </div>
</div>
<div class="row hide-for-small">
  <div class="large-12 columns">
    <ul class="button-group even-5 social">
      <li><a class="button github-main-page icon-github-circled-1" href="https://github.com/chronophasiac" target="_blank">github</a></li>
      <li><a class="button blog-main-page icon-pencil" href="http://www.unlimited-code-works.com" target="_blank">blog</a></li>
      <li><a class="button twitter-main-page icon-twitter" href="https://twitter.com/chronophasiac" target="_blank">twitter</a></li>
      <li><a class="button linkedin-main-page icon-linkedin" href="http://www.linkedin.com/in/chronophasiac" target="_blank">linkedin</a></li>
      <li><a class="button facebook-main-page icon-facebook" href="https://www.facebook.com/chronophasiac" target="_blank">facebook</a></li>
    </ul>
  </div>
</div>
<div class="row show-for-small">
  <div class="small-12 columns">
    <ul class="button-group even-2 social">
      <li><a class="button github-main-page icon-github-circled-1" href="https://github.com/chronophasiac" target="_blank">github</a></li>
      <li><a class="button blog-main-page icon-pencil" href="http://www.unlimited-code-works.com" target="_blank">blog</a></li>
      <li><a class="button twitter-main-page icon-twitter" href="https://twitter.com/chronophasiac" target="_blank">twitter</a></li>
      <li><a class="button linkedin-main-page icon-linkedin" href="http://www.linkedin.com/in/chronophasiac" target="_blank">linkedin</a></li>
      <li><a class="button facebook-main-page icon-facebook" href="https://www.facebook.com/chronophasiac" target="_blank">facebook</a></li>
    </ul>
  </div>
</div>
<hr />
<div class="row">
  <div class="large-12 columns">
    <h4 class="slider-header">featured projects</h4>
  </div>
</div>
<div class="row">
  <div class="large-12 columns">
    <div class="slideshow-wrapper">
    <div class="preloader"></div>
      <ul data-orbit>
        <li>
          <img src="img/timevault_thumb.png" />
          <div class="orbit-caption">Time Tracking App: TimeVault <a href="http://www.gotimevault.com/" target="_blank">[Live] </a><a href="https://github.com/chronophasiac/timevault" target="_blank">[GitHub]</a></div>
        </li>
        <li>
          <img src="img/fivesecondcoder_thumb.png" />
          <div class="orbit-caption">Prototype E-Learning App: Five Second Coder <a href="https://github.com/chronophasiac/fivesecondcoder" target="_blank">[GitHub]</a></div>
        </li>
        <li>
          <img src="img/wanderhash_thumb.png" />
          <div class="orbit-caption">JavaScript Toy: Wanderhash <a href="https://github.com/chronophasiac/wanderhash" target="_blank">[GitHub]</a></div>
        </li>
      </ul>
    </div>
  </div>
</div>
