<div class="row">
  <div class="large-12 columns">
    <h2 class="hide-for-small" id="front-page-name"><span class="first-name">mike</span> <span class="last-name">raimondi</span></h2>
    <h3 class="subheader">full-stack web developer</h3>
    <hr />
  </div>
</div>
<div class="row hide-for-small">
  <ul class="large-block-grid-5 social">
    <li><a class="github-main-page icon-github-circled-1" href="https://github.com/chronophasiac" target="_blank">github</a></li>
    <li><a class="blog-main-page icon-pencil" href="http://www.unlimited-code-works.com" target="_blank">blog</a></li>
    <li><a class="twitter-main-page icon-twitter" href="https://twitter.com/chronophasiac" target="_blank">twitter</a></li>
    <li><a class="linkedin-main-page icon-linkedin" href="http://www.linkedin.com/in/chronophasiac" target="_blank">linkedin</a></li>
    <li><a class="facebook-main-page icon-facebook" href="https://www.facebook.com/chronophasiac" target="_blank">facebook</a></li>
  </ul>
</div>
<div class="row show-for-small">
  <ul class="small-block-grid-3 social">
    <li><a class="github-main-page icon-github-circled-1" href="https://github.com/chronophasiac" target="_blank">github</a></li>
    <li><a class="blog-main-page icon-pencil" href="http://www.unlimited-code-works.com" target="_blank">blog</a></li>
    <li><a class="twitter-main-page icon-twitter" href="https://twitter.com/chronophasiac" target="_blank">twitter</a></li>
  </ul>
</div>
<div class="social-button-spacer row"></div>
<div class="row show-for-small">
  <ul class="small-block-grid-2 social">
    <li><a class="linkedin-main-page icon-linkedin" href="http://www.linkedin.com/in/chronophasiac" target="_blank">linkedin</a></li>
    <li><a class="facebook-main-page icon-facebook" href="https://www.facebook.com/chronophasiac" target="_blank">facebook</a></li>
  </ul>
</div>
<div class="row">
  <p>Dolor purus aliquam penatibus ut elementum cum diam cursus duis auctor ultricies dapibus! Aliquam nisi, porttitor mattis turpis massa mattis, nisi massa integer magnis magnis odio velit, nunc mus porttitor. A sit phasellus pulvinar proin, nunc, ut vel rhoncus risus. Porta phasellus! Sociis magnis tincidunt rhoncus, turpis ac mattis mauris, ut rhoncus penatibus pid? Proin? Dolor. Urna proin mid elementum, cum velit proin augue etiam magna parturient elementum arcu! Ac dis montes! Elementum quis, tincidunt, ut, placerat adipiscing, eros diam phasellus in ac adipiscing? Vel, rhoncus nisi urna, habitasse pid, in odio enim, auctor dapibus egestas ac scelerisque nunc odio tincidunt mid ultrices elit scelerisque! Mid facilisis et, integer urna. Dis pid. In nascetur amet hac nisi dis nascetur lectus.</p>
</div>
