<div id="home" class="nav-active">
  <div class="row">
    <div class="large-12 columns">
      <h2 id="name">mike raimondi</h2>
      <h2 class="subheader">full-stack web developer</h2>
      <hr />
      <ul class="inline-list">
        <li><a href="https://github.com/chronophasiac" target="_blank">GitHub</a></li>
        <li><a href="http://www.unlimited-code-works.com" target="_blank">Blog</a></li>
        <li><a href="https://twitter.com/chronophasiac" target="_blank">Twitter</a></li>
        <li><a href="http://www.linkedin.com/in/chronophasiac" target="_blank">LinkedIn</a></li>
        <li><a href="https://www.facebook.com/chronophasiac" target="_blank">Facebook</a></li>
      </ul>
    </div>
  </div>
</div>

<link href='http://fonts.googleapis.com/css?family=Open+Sans:600' rel='stylesheet' type='text/css'>
