<div id="home" class="nav-active">
  <div class="row">
    <div class="large-12 columns">
      <h2>Mike Raimondi</h2>
      <p>Super guy</p>
      <hr />
      <p>More stuff goes here.</p>
    </div>
  </div>
</div>
