<div id="portfolio-container">
  <div class="portfolio-item">
    stuff goes here
  </div>
  <div class="portfolio-item">
    stuff goes here
  </div>
  <div class="portfolio-item">
    stuff goes here
  </div>
  <div class="portfolio-item">
    stuff goes here
  </div>
  <div class="portfolio-item">
    stuff goes here
  </div>
</div>
