<div id="portfolio" class="nav-active">
  <div class="row">
    <div class="large-6 columns">
      <div class="panel">
        Lorem ipsum
      </div>
    </div>
    <div class="large-6 columns">
      <div class="panel">
        Lorem ipsum
      </div>
    </div>
  </div>
  <div class="row">
    <div class="large-6 columns">
      <div class="panel">
        Lorem ipsum
      </div>
    </div>
    <div class="large-6 columns">
      <div class="panel">
        Lorem ipsum
      </div>
    </div>
  </div>
  <div class="row">
    <div class="large-6 columns">
      <div class="panel">
        Lorem ipsum
      </div>
    </div>
    <div class="large-6 columns">
      <div class="panel">
        Lorem ipsum
      </div>
    </div>
  </div>
  <div class="row">
    <div class="large-6 columns">
      <div class="panel">
        Lorem ipsum
      </div>
    </div>
    <div class="large-6 columns">
      <div class="panel">
        Lorem ipsum
      </div>
    </div>
  </div>
  <div class="row">
    <div class="large-6 columns">
      <div class="panel">
        Lorem ipsum
      </div>
    </div>
    <div class="large-6 columns">
      <div class="panel">
        Lorem ipsum
      </div>
    </div>
  </div>
  <div class="row">
    <div class="large-6 columns">
      <div class="panel">
        Lorem ipsum
      </div>
    </div>
    <div class="large-6 columns">
      <div class="panel">
        Lorem ipsum
      </div>
    </div>
  </div>
  <div class="row">
    <div class="large-6 columns">
      <div class="panel">
        Lorem ipsum
      </div>
    </div>
    <div class="large-6 columns">
      <div class="panel">
        Lorem ipsum
      </div>
    </div>
  </div>
</div>
