<div class="row">
  <div class="small-12 columns">
    <ul class="button-group even-3 portfolio-filters">
      <li><input class="button port-filter-btn" type="submit" id="featured-btn" value="Featured" /></li>
      <li><input class="button port-filter-btn" type="submit" id="rails-btn" value="Rails" /></li>
      <li><input class="button port-filter-btn" type="submit" id="ruby-btn" value="Ruby" /></li>
      <li><input class="button port-filter-btn" type="submit" id="js-btn" value="JavaScript" /></li>
      <li><input class="button port-filter-btn" type="submit" id="sinatra-btn" value="Sinatra" /></li>
      <li><input class="button port-filter-btn" type="submit" id="csharp-btn" value="C#" /></li>
      <li><input class="button port-filter-btn" type="submit" id="all-btn" value="All" /></li>
    </ul>
  </div>
</div>
<div id="portfolio-container">
  <div class="portfolio-item large-item featured rails">
    <h5>TimeVault</h5>
    <h6 class="subheader">time tracking with a side of pomodoros</h6>
    <h6 class="portfolio-source subheader"><a class="button port-blue" href="https://github.com/chronophasiac/timevault" target="_blank">Source</a></h6>
    <h6 class="portfolio-live subheader"><a class="button port-orange" href="http://www.gotimevault.com" target="_blank">Live Site</a></h6>
  </div>
  <div class="portfolio-item large-item featured rails javascript">
    <h5>Memworks</h5>
    <h6 class="subheader">boosted e-learning</h6>
    <h6 class="portfolio-source subheader"><a class="button port-green" href="https://github.com/chronophasiac/memworks" target="_blank">Source</a></h6>
    <h6 class="portfolio-pivotal subheader"><a class="button port-red" href="https://www.pivotaltracker.com/s/projects/846805" target="_blank">Pivotal</a></h6>
    <h6 class="portfolio-live subheader"><a class="button port-orange" href="http://www.memworks.com/" target="_blank">Live Site</a></h6>
  </div>
  <div class="portfolio-item medium-item rails">
    <h5>BostonRB</h5>
    <h6 class="subheader">boston ruby group improvements</h6>
    <h6 class="portfolio-source subheader"><a class="button port-blue" href="https://github.com/gpallotta/bostonrb" target="_blank">Source</a></h6>
  </div>
  <div class="portfolio-item small-item featured rails">
    <h5>Five second coder</h5>
    <h6 class="subheader">prototype spaced repetition app</h6>
    <h6 class="portfolio-source subheader"><a class="button port-purple" href="https://github.com/chronophasiac/fivesecondcoder" target="_blank">Source</a></h6>
  </div>
  <div class="portfolio-item small-item csharp asp-mvc">
    <h5>UCSharp</h5>
    <h6 class="subheader">specialized business automation</h6>
    <h6 class="portfolio-source port-green subheader"><a class="nolink-port-green" href="/contact">Private project - contact me for details</a></h6>
  </div>
  <div class="portfolio-item medium-item csharp">
    <h5>MonoDevelop</h5>
    <h6 class="subheader">making vi mode more vi-ish</h6>
    <h6 class="portfolio-source subheader"><a class="button port-green" href="https://github.com/chronophasiac/monodevelop" target="_blank">Source</a></h6>
  </div>
  <div class="portfolio-item small-item sinatra">
    <h5>Personal Site</h5>
    <h6 class="subheader">see how this was made</h6>
    <h6 class="portfolio-source subheader"><a class="button port-orange" href="https://github.com/chronophasiac/personal_site" target="_blank">Source</a></h6>
  </div>
  <div class="portfolio-item small-item rails">
    <h5>Launched It</h5>
    <h6 class="subheader">launch academy demo</h6>
    <h6 class="portfolio-source subheader"><a class="button port-purple" href="https://github.com/chronophasiac/launched_it" target="_blank">Source</a></h6>
  </div>
  <div class="portfolio-item medium-item ruby">
    <h5>Hangman CLI</h5>
    <h6 class="subheader">experiment in command-line MVC</h6>
    <h6 class="portfolio-source subheader"><a class="button port-red" href="https://github.com/chronophasiac/hangman" target="_blank">Source</a></h6>
  </div>
  <div class="portfolio-item medium-item javascript featured">
    <h5>Wanderhash</h5>
    <h6 class="subheader">pathfinding toy</h6>
    <h6 class="portfolio-source subheader"><a class="button port-blue" href="https://github.com/chronophasiac/wanderhash" target="_blank">Source</a></h6>
  </div>
  <div class="portfolio-item small-item rails">
    <h5>Betacritiq</h5>
    <h6 class="subheader">launch academy demo</h6>
    <h6 class="portfolio-source subheader"><a class="button port-red" href="https://github.com/chronophasiac/betacritic" target="_blank">Source</a></h6>
  </div>
  <div class="portfolio-item small-item ruby">
    <h5>Teacher's Assistant</h5>
    <h6 class="subheader">test-driven development toy</h6>
    <h6 class="portfolio-source subheader"><a class="button port-orange" href="https://github.com/chronophasiac/teachers_assistant" target="_blank">Source</a></h6>
  </div>
</div>
