<div class="panel">
<p>R&eacutesum&eacute available upon request. Please refer to my <a href="http://www.linkedin.com/in/mikerraimondi" target="_blank">LinkedIn profile</a> for the most up-to-date information</p>
</div>
