/* line 7, ../../sass/main.scss */
h2#front-page-name {
  font-family: 'Open Sans', sans-serif;
  font-size: 2.6em;
  margin-bottom: 0;
}
/* line 11, ../../sass/main.scss */
h2#front-page-name .first-name {
  font-weight: 300;
  color: #454545;
}
/* line 15, ../../sass/main.scss */
h2#front-page-name .last-name {
  color: #bdbdbd;
  font-weight: 600;
}

/* line 21, ../../sass/main.scss */
h3.tagline {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 1.55em;
  margin-top: 0;
}

/* line 28, ../../sass/main.scss */
div.tagline-small-container {
  position: relative;
  bottom: 10px;
}
/* line 31, ../../sass/main.scss */
div.tagline-small-container h3.tagline-small {
  margin: 0;
}

/* line 36, ../../sass/main.scss */
ul.side-nav-home {
  margin-top: 42px;
}

/* line 40, ../../sass/main.scss */
nav.side-nav li a {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.3em;
}
/* line 43, ../../sass/main.scss */
nav.side-nav li a:hover {
  color: #a6a6a6;
}
/* line 48, ../../sass/main.scss */
nav.side-nav li a#side-nav-name {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.65em;
}
/* line 51, ../../sass/main.scss */
nav.side-nav li a#side-nav-name .first-name {
  font-weight: 300;
  color: #454545;
}
/* line 55, ../../sass/main.scss */
nav.side-nav li a#side-nav-name .last-name {
  font-weight: 600;
  color: #bdbdbd;
}

/* line 62, ../../sass/main.scss */
nav.top-bar {
  margin-bottom: 10px;
}
/* line 64, ../../sass/main.scss */
nav.top-bar a#top-nav-name {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.45em;
  white-space: nowrap;
}
/* line 68, ../../sass/main.scss */
nav.top-bar a#top-nav-name .first-name {
  font-weight: 300;
  color: #454545;
}
/* line 72, ../../sass/main.scss */
nav.top-bar a#top-nav-name .last-name {
  font-weight: 600;
  color: #c4c4c4;
}
@media only screen and (max-width: 940px) {
  /* line 78, ../../sass/main.scss */
  nav.top-bar ul.top-nav-menu {
    margin: 10px 0;
  }
  /* line 80, ../../sass/main.scss */
  nav.top-bar ul.top-nav-menu li {
    vertical-align: middle;
    font-size: 1.1em;
  }
  /* line 83, ../../sass/main.scss */
  nav.top-bar ul.top-nav-menu li a {
    background-color: #212121;
    padding: 25px 0;
    margin: 0 1px;
    text-align: center;
    box-shadow: none;
    border: 3px solid #333333;
    white-space: nowrap;
  }
  /* line 94, ../../sass/main.scss */
  nav.top-bar ul.left li a {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 0.9em;
  }
}

/* line 102, ../../sass/main.scss */
ul.vcard {
  margin: 20px;
}

/* line 106, ../../sass/main.scss */
ul.social {
  margin: 50px 0;
}
/* line 109, ../../sass/main.scss */
ul.social li a {
  box-shadow: none;
  border: 3px solid #212121;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  white-space: nowrap;
  margin-bottom: 0;
}
/* line 117, ../../sass/main.scss */
ul.social li a.facebook-main-page {
  background-color: #287aa9;
}
/* line 119, ../../sass/main.scss */
ul.social li a.facebook-main-page:hover {
  background-color: #21658c;
}
/* line 123, ../../sass/main.scss */
ul.social li a.github-main-page {
  background-color: #4ba07a;
}
/* line 125, ../../sass/main.scss */
ul.social li a.github-main-page:hover {
  background-color: #408767;
}
/* line 129, ../../sass/main.scss */
ul.social li a.twitter-main-page {
  background-color: #db4863;
}
/* line 131, ../../sass/main.scss */
ul.social li a.twitter-main-page:hover {
  background-color: #d52a49;
}
/* line 135, ../../sass/main.scss */
ul.social li a.linkedin-main-page {
  background-color: #ef7639;
}
/* line 137, ../../sass/main.scss */
ul.social li a.linkedin-main-page:hover {
  background-color: #ec5f18;
}

/* line 144, ../../sass/main.scss */
h4.slider-header {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

/* line 149, ../../sass/main.scss */
div.orbit-slide-number {
  display: none;
}

/* line 154, ../../sass/main.scss */
footer h4 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}
/* line 158, ../../sass/main.scss */
footer h4.footer-email {
  text-align: right;
}
/* line 160, ../../sass/main.scss */
footer h4.footer-email span.email-footer-part {
  font-weight: 400;
}

/* line 170, ../../sass/main.scss */
section#about-me header h3 {
  color: #ef7639;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  padding-bottom: 10px;
}
/* line 177, ../../sass/main.scss */
section#about-me #self-portrait {
  margin: 20px;
}
/* line 180, ../../sass/main.scss */
section#about-me #small-self-portrait {
  margin: 20px 0;
}
/* line 183, ../../sass/main.scss */
section#about-me h4 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}
/* line 187, ../../sass/main.scss */
section#about-me #first-subheader {
  color: #4ba07a;
}
/* line 190, ../../sass/main.scss */
section#about-me #second-subheader {
  color: #287aa9;
}
/* line 193, ../../sass/main.scss */
section#about-me #third-subheader {
  color: #db4863;
}
/* line 196, ../../sass/main.scss */
section#about-me #fourth-subheader {
  color: #7233fa;
}
/* line 199, ../../sass/main.scss */
section#about-me blockquote {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

/* line 240, ../../sass/main.scss */
input.port-filter-btn {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
}

/* line 245, ../../sass/main.scss */
div#portfolio-container h5 {
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}
/* line 250, ../../sass/main.scss */
div#portfolio-container h6 {
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}
/* line 255, ../../sass/main.scss */
div#portfolio-container div.portfolio-item {
  padding: 1em;
  margin: 3px;
  background-color: black;
}
/* line 215, ../../sass/main.scss */
div#portfolio-container div.portfolio-item a.port-blue {
  box-shadow: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  white-space: nowrap;
  margin-bottom: 0;
  border: none;
  background-color: #287aa9;
}
/* line 219, ../../sass/main.scss */
div#portfolio-container div.portfolio-item a.port-green {
  box-shadow: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  white-space: nowrap;
  margin-bottom: 0;
  border: none;
  background-color: #4ba07a;
}
/* line 223, ../../sass/main.scss */
div#portfolio-container div.portfolio-item a.nolink-port-green {
  color: #4ba07a;
}
/* line 226, ../../sass/main.scss */
div#portfolio-container div.portfolio-item a.port-orange {
  box-shadow: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  white-space: nowrap;
  margin-bottom: 0;
  border: none;
  background-color: #ef7639;
}
/* line 230, ../../sass/main.scss */
div#portfolio-container div.portfolio-item a.port-red {
  box-shadow: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  white-space: nowrap;
  margin-bottom: 0;
  border: none;
  background-color: #db4863;
}
/* line 234, ../../sass/main.scss */
div#portfolio-container div.portfolio-item a.port-purple {
  box-shadow: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  white-space: nowrap;
  margin-bottom: 0;
  border: none;
  background-color: #7233fa;
}
/* line 261, ../../sass/main.scss */
div#portfolio-container div.small-item {
  font-size: 90%;
  width: 160px;
  height: 160px;
}
/* line 266, ../../sass/main.scss */
div#portfolio-container div.medium-item {
  width: 326px;
  height: 160px;
}
/* line 270, ../../sass/main.scss */
div#portfolio-container div.large-item {
  width: 326px;
  height: 326px;
}
